<div class="bg-sky-900 py-12">
    <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden p-6 flex items-center">
        <!-- Imagen de avatar al lado izquierdo -->
        <div class="flex-shrink-0 mr-6">
            <img class="w-32 h-32 rounded-full object-cover" src="https://img.freepik.com/foto-gratis/joven-barbudo-camisa-rayas_273609-5677.jpg?t=st=1727150527~exp=1727154127~hmac=8cac3b02334b2f3d21dff053560cc0eb0e4a4e7349a5fc40986ad2db5dc0278c&w=740" alt="avatar">
        </div>

        <!-- Contenido: Nombre y Palabras de la persona -->
        <div>
            <!-- Nombre de la persona -->
            <div class="mb-2">
                <h3 class="text-2xl font-semibold text-gray-800">Juan Pérez</h3>
            </div>

            <!-- Palabras de la persona -->
            <div class="text-gray-600 italic">
                "¡Excelente servicio! Me siento mucho mejor después de mi tratamiento."
            </div>
        </div>
    </div>
</div>
