<div class="flex flex-col fex-auto min-w-0 bg-indigo-100 p-8">
    <div class="flex-auto  border-t -mt-px pt-4 sm:pt-6">
        
        <div class="w-full max-w-screen-xl mx-auto">
            <h2 class="text-2xl font-bold text-indigo-600 mb-4">Agregar Servicio</h2>
            <form  class="flex flex-col bg-white mt-8 p-8 pb-5 rounded shadow overflow-hidden"  [formGroup]="servicioForm" (ngSubmit)="agregarServicio()">
                <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
                    <mat-form-field class="flex-auto">
                        <mat-label class="text-gray-700">Nombre del servicio</mat-label>
                        <input
                            matInput
                            placeholder="Ej. Limpieza Dental"
                            formControlName="nombre"
                            class="block flex-1 border border-gray-300 rounded-md bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-transparent sm:text-sm sm:leading-6"
                        />
                        <mat-icon class="icon-size-5" matPrefix>local_laundry_service</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label class="text-gray-700">Categoría</mat-label>
                        <input
                            matInput
                            placeholder="Ej. Salud"
                            formControlName="categoria"
                            class="block flex-1 border border-gray-300 rounded-md bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-transparent sm:text-sm sm:leading-6"
                        />
                        <mat-icon class="icon-size-5" matPrefix>category</mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
                    <mat-form-field class="flex-auto">
                        <mat-label class="text-gray-700">Precio</mat-label>
                        <input
                            matInput
                            placeholder="Ej. $100"
                            type="number"
                            formControlName="precio"
                            class="block flex-1 border border-gray-300 rounded-md bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-transparent sm:text-sm sm:leading-6"
                        />
                        <mat-icon class="icon-size-5" matPrefix>attach_money</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label class="text-gray-700">Encargado</mat-label>
                        <input
                            matInput
                            placeholder="Nombre del encargado"
                            formControlName="encargado"
                            class="block flex-1 border border-gray-300 rounded-md bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-transparent sm:text-sm sm:leading-6"
                        />
                        <mat-icon class="icon-size-5" matPrefix>person</mat-icon>
                    </mat-form-field>
                </div>

                <div class="mb-4 flex">
                    <mat-form-field class="flex-auto" >
                        <mat-label class="text-gray-700">Descripción</mat-label>
                        <textarea
                            matInput
                            placeholder="Descripción del servicio..."
                            formControlName="descripcion"
                            class="block flex-1 border border-gray-300 rounded-md bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:border-transparent sm:text-sm sm:leading-6"
                        ></textarea>
                        <mat-icon class="icon-size-5" matPrefix>description</mat-icon>
                    </mat-form-field>
                </div>

                <div class="col-span-full">
                    <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Imagen</label>
                    <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                        <div class="text-center">
                            <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                            </svg>
                            <div class="mt-4 flex text-sm leading-6 text-gray-600">
                                <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                    <span>Sube un archivo</span>
                                    <input id="file-upload" name="file-upload" type="file" class="sr-only" (change)="onFileSelected($event)">
                                </label>
                                <p class="pl-1">o arrastra y suelta</p>
                            </div>
                            <p class="text-xs leading-5 text-gray-600">PNG, JPG</p>
                        </div>
                    </div>
                </div>  

                <button type="submit" class="w-full p-6 mt-4 bg-blue-500 text-white font-semibold py-2 rounded-full hover:bg-blue-600">
                    Agregar Servicio
                </button>
            </form>
        </div>
    </div>
</div>
