<div class="flex flex-row bg-sky-900 items-center justify-between px-8 py-12">
    <!-- Contenedor del texto y botón -->
    <div class="flex flex-col max-w-lg">
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-white">
            Transformamos sonrisas, mejoramos vidas. <br> ¡Agenda tu cita hoy!
        </div>
        <button class="w-full mt-6 bg-white text-indigo-500 py-2 px-4 rounded-lg hover:bg-gray-100 transition">
            Agendar
        </button>
    </div>
    <div>
        <img src="assets/img/mujer.png" alt="Mujer Sonriente">
    </div>
</div>
