<div class="bg-indigo-100 py-12 h-screen">
    <!-- Título principal -->
    <div class="text-center text-3xl font-bold text-indigo-600 mb-10">
     Gestiona tu plataforma SMILLE
    </div>

    <div class="flex flex-col sm:flex-row justify-around">
      <!-- Sección de Servicios -->
    <a routerLink="services" >
      <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6 sm:mb-0">
        <img class="w-full h-48 object-cover" src="https://img.freepik.com/foto-gratis/disposicion-plana-viales-herramientas-medicas_23-2149341598.jpg?t=st=1727155663~exp=1727159263~hmac=bb810978f8a489cc65d5f6107ee385ae63879bfbe7b752ad603450b180152696&w=740" alt="Servicio dental">
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Servicios</h3>
          <p class="text-gray-600 mb-6">
           Gestiona los servicios de tu plataforma
          </p>
        </div>
      </div>
    </a>

      <!-- Sección de Médicos -->
      <a routerLink="medicos" >
      <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden mb-6 sm:mb-0">
        <img class="w-full h-48 object-cover" src="https://img.freepik.com/vector-gratis/personas-que-dan-guantes-mascarilla-medica_23-2148521688.jpg?t=st=1727155817~exp=1727159417~hmac=ff820f908a14113281ff70b61f575d104c1ce7abab9995697a279714189864ac&w=740" alt="Médico">
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Médicos</h3>
          <p class="text-gray-600 mb-6">
            Gestiona los Médicos de tu plataforma
          </p>
        </div>
      </div>
      </a>

      <!-- Sección de Pacientes -->
      <a routerLink="pacientes" >
      <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <img class="w-full h-48 object-cover" src="https://img.freepik.com/vector-gratis/grupo-usuarios-sombra_78370-7019.jpg?t=st=1727155966~exp=1727159566~hmac=95f17ab422eaac487e61af0f644accb97e3a23c55f7e2980a39e566fd71a6df3&w=740" alt="Paciente">
        <div class="p-6">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Pacientes</h3>
          <p class="text-gray-600 mb-6">
            Gestiona los Pacientes de tu plataforma
          </p>
        </div>
      </div>
      </a>
    </div>
  </div>