<div class="relative bg-sky-900 overflow-hidden">
    <!-- Burbujas en el fondo -->
    <div class="absolute inset-0 opacity-25">
        <svg class="absolute -top-20 -left-20" width="300" height="300">
            <circle cx="100" cy="100" r="100" class="fill-white opacity-20" />
        </svg>
        <svg class="absolute -bottom-40 -right-40" width="200" height="200">
            <circle cx="100" cy="100" r="100" class="fill-white opacity-30" />
        </svg>
        <svg class="absolute -top-24 -right-24" width="150" height="150">
            <circle cx="75" cy="75" r="75" class="fill-white opacity-10" />
        </svg>
    </div>

    <div class="flex flex-row items-center justify-between px-8 py-12">
        <!-- Contenedor del texto y botón -->
        <div class="flex-shrink-0">
            <img src="https://img.freepik.com/vector-gratis/fondo-clinica-dental-diseno-plano_23-2148118990.jpg?t=st=1727152332~exp=1727155932~hmac=fe6f0d4af2bb2b693116727b46667dfcc50d4b666e47aae5f1fe5a3ed3ad470c&w=740" alt="Mujer Sonriente" class="rounded-lg shadow-lg w-80 h-80 object-cover" />
        </div>

        <div class="flex flex-col max-w-lg ml-8">
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-white">
                Smile, fundada en 2010, nuestra clínica ha evolucionado para convertirse en un referente en el cuidado dental, combinando experiencia y tecnología para ofrecer el mejor servicio a nuestros pacientes.
            </div>
        </div>
    </div>
</div>

<div class="bg-indigo-100 py-12">
    <div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Tarjeta para Misión y Visión -->
        <div class="bg-white shadow-lg rounded-lg p-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Misión y Visión</h3>
            <p class="text-gray-700">
                Nuestra misión es brindar atención dental integral y personalizada, asegurando la salud bucal y el bienestar de nuestros pacientes. Nos esforzamos por ser líderes en innovación y calidad, con una visión de hacer accesible el cuidado dental de excelencia para todos.
            </p>
        </div>

        <!-- Tarjeta para Valores -->
        <div class="bg-white shadow-lg rounded-lg p-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Valores</h3>
            <p class="text-gray-700">
                Nuestros valores son la empatía, el profesionalismo y la excelencia. Nos comprometemos a ofrecer un ambiente cálido y seguro, donde cada paciente recibe la atención que merece.
            </p>
        </div>
    </div>
</div>
