<div class="bg-indigo-100 py-12">
    <div class="text-center mb-10">
        <h2 class="text-3xl font-bold text-gray-800">Conoce a Nuestro Equipo</h2>
    </div>
    
    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Miembro del equipo 1 -->
        <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden flex flex-col">
            <div class="flex justify-center mt-4">
                <img class="w-24 h-24 rounded-full object-cover" src="https://img.freepik.com/foto-gratis/retrato-enfermera-hospital_23-2150780310.jpg?t=st=1727152891~exp=1727156491~hmac=3661371449352676e09e01cbf1a8891200d753bb15cb5adea15e8fdc1d908230&w=740" alt="Avatar 1">
            </div>
            <div class="text-center mt-4">
                <h3 class="text-xl font-semibold text-gray-800">Juan Pérez</h3>
                <p class="text-gray-600">Dentista General</p>
            </div>
            <div class="px-4 py-2 text-gray-700">
                <p>
                    Juan cuenta con más de 10 años de experiencia en el cuidado dental y se especializa en odontología preventiva.
                </p>
            </div>
        </div>

        <!-- Miembro del equipo 2 -->
        <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden flex flex-col">
            <div class="flex justify-center mt-4">
                <img class="w-24 h-24 rounded-full object-cover" src="https://img.freepik.com/foto-gratis/retrato-enfermera-mostrando-pulgares-arriba_23-2150780430.jpg?t=st=1727152847~exp=1727156447~hmac=cd7ed481b27329de26b391f92d9f5789581e66f896ffd33604630f7114dc59d2&w=740" alt="Avatar 2">
            </div>
            <div class="text-center mt-4">
                <h3 class="text-xl font-semibold text-gray-800">Ana Gómez</h3>
                <p class="text-gray-600">Ortodoncista</p>
            </div>
            <div class="px-4 py-2 text-gray-700">
                <p>
                    Ana es especialista en ortodoncia y tiene un enfoque centrado en la atención personalizada para sus pacientes.
                </p>
            </div>
        </div>

        <!-- Miembro del equipo 3 -->
        <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden flex flex-col">
            <div class="flex justify-center mt-4">
                <img class="w-24 h-24 rounded-full object-cover" src="https://img.freepik.com/foto-gratis/retrato-medico-posando-sobre-fondo-blanco_1157-44788.jpg?t=st=1727152785~exp=1727156385~hmac=8dd6bc2085c57807e0e7c5cc01233edb9903ccdd110208d0220906925d871b89&w=360" alt="Avatar 3">
            </div>
            <div class="text-center mt-4">
                <h3 class="text-xl font-semibold text-gray-800">Carlos López</h3>
                <p class="text-gray-600">Higienista Dental</p>
            </div>
            <div class="px-4 py-2 text-gray-700">
                <p>
                    Carlos es higienista dental y se dedica a educar a los pacientes sobre la importancia de la salud bucal.
                </p>
            </div>
        </div>
        <!-- Agrega más miembros según sea necesario -->
    </div>
</div>
